.container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:30px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.container > div{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    box-shadow: 5px 5px 20px 10px rgb(214, 210, 210);
    border-radius: 5px;
}

.container > div > img {
    margin: auto;
}

.container button {
    padding: 10px 15px;
    background-color: blueviolet;
    color : #fff;
    border: none ; 
    border-radius: 5px;
    cursor: pointer;
}